#top_pic{
  text-align: center;
  height: 400px;
}
#top_pic img{
  width: 100%;
  position: fixed;
  left:0px;
  z-index: -3;
}
/*一定要把背景的 position: fixed 放在子标签h1中，不然会出bug！！！*/
#top_pic h1{
  position: fixed; 
  display: none;
  z-index: -2;
  /*  left,right用于在fixed状态下元素居中 */
  /*margin:0px auto;*/
  left:0;
  right:0;
  color: #ffffff;
  font: lighter 42px "FangSong", "黑体","Microsoft YaHei","宋体",sans-serif;
}
#top_pic h2{
  position: fixed; 
  display: none;
  z-index: -2;
  left:0;
  right:0;
  color: #ffffff;
  font: lighter 93px "KaiTi","FangSong","黑体","Microsoft YaHei","宋体",sans-serif;
  letter-spacing: 10px;
}

/*用于当top_bar的position变为fixed后，仍然有固定高度，令下边的div不会高度上升*/
#top_bar_father{
  height: 60px;
}
#top_bar{
  width: 100%;
  height: 60px;
 /* margin: 0 auto;*/
  position: relative;
  background-color: #E7E8E9;
  z-index: 10;
 
/* 用于颜色的渐变效果*/
  background: -webkit-gradient(linear,left,right,from(#CDD0EF),color-stop(0.5,#EBEAF5),to(#CDD0EF));
  background: -moz-linear-gradient(left, #CDD0EF, #EBEAF5, #CDD0EF);
  background: -o-linear-gradient(left, #CDD0EF, #EBEAF5, #CDD0EF);
  background: -webkit-linear-gradient(left, #CDD0EF, #EBEAF5 50%, #CDD0EF); 

/*第一个属性值为水平方向，第二个为垂直方向。正值为右下，负值为左上*/
  -webkit-box-shadow: 0px 3px 18px #888484;
  -moz-box-shadow: 0px 3px 18px #888484;
  box-shadow: 0px 3px 18px #888484;

  text-align: center;
}
/*用于三个按钮的响应式居中*/
.adjust{
  width: 500px;
  margin: 0 auto;
  /*text-align: center;*/
}
/* >选择第一层子元素*/
.adjust>span:first-child{
  /*display: inline-block;*/
  float: left;
  position: relative;
  left: 0px;
}
.adjust>span:nth-of-type(2){
  /*display: inline-block;*/
  float: left;
  position: relative;
  left: 100px;

}
.adjust>span:nth-of-type(3){
  /*display: inline-block;*/
  float: left;
  position: relative;
  left: 200px;
}
.button1 , .button2 , .button3{
  float: left;
  width: 100px;
  height: 48px;
  position: relative; top:0px; /*left:30px;*/
  margin-top: 6px ;
  text-align: center;
  overflow: hidden;

  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
}
.button1 a , .button2 a , .button3 a{
  display: block;
  /*block会在a后加上换行符*/
  margin: 0 auto;
  position: relative; 
  width: 100px;
  height: 48px;  
  font: lighter 1.9em/50px "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
  color: #ffffff;
  text-decoration: none;

}
.button1 a:first-child{
  background-color:#E02228;
}
.button1 a:nth-of-type(2){
  background-color:#D6BD1B;
}
.button2 a:first-child{
  background-color:#4EAB10;
}
.button2 a:nth-of-type(2){
  background-color:#C62AE6;
}
.button3 a:first-child{
  background-color:#2CB5D7;
}
.button3 a:nth-of-type(2){
  background-color:#EC9D48;
}

#top_bar div.hover{
  -webkit-transition: all .4s ease-in-out;
  -moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -ms-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;  
}
#top_bar div.hover:hover{
  margin-top: -48px;
}
#top_bar div.active:hover{
  margin-top: 0;
}


/*top_bar中glyphicon图标样式*/
.icon_add{
  font-size: 33px;
  margin-top: 7px;
  color: #ffffff;
}

#top_panel{
  height: 165px;
  background-color: #DAEED2;
  position: relative; top: 0px;
  overflow: hidden;
}
/*向下箭头*/
.downward{
  width: 65px;
  margin: 10px auto;
  padding-top: 50px ;
  text-align: center;
  z-index: 2;

  -webkit-animation: downward 3s ease-in-out infinite;
   -moz-animation: downward 3s ease-in-out infinite;
        animation: downward 3s ease-in-out infinite;
}
/*.downward a{
  text-decoration: none;
}*/
@-webkit-keyframes downward{
    15%{ padding-top: 50px;}
    25%{ padding-top: 70px;}
    35%{ padding-top: 50px;}
    45%{ padding-top: 70px;}
    55%{ padding-top: 50px;}
}
@-moz-keyframes downward{
    15%{ padding-top: 50px;}
    25%{ padding-top: 70px;}
    35%{ padding-top: 50px;}
    45%{ padding-top: 70px;}
    55%{ padding-top: 50px;}
}
@keyframes downward{
    15%{ padding-top: 50px;}
    25%{ padding-top: 70px;}
    35%{ padding-top: 50px;}
    45%{ padding-top: 70px;}
    55%{ padding-top: 50px;}
}
.downward span{
  opacity:0.7;
  display: block;
  color: #221B6D;
  cursor:pointer;  /*改变鼠标光标样式*/
}
.downward span:first-child{
  font-size: 43px;
}
.downward span:nth-of-type(2){
  margin-top: -12px;
  font-size: 37px;
}
.downward:hover{
  /*margin: 58px auto;*/
  padding-top: 58px ;
  -webkit-animation: stop 0s;
     -moz-animation: stop 0s;
          animation: stop 0s;
}
/*用于停止箭头动画*/
@-webkit-keyframes stop{ }
@-moz-keyframes stop{ }
@keyframes stop{ }

.downward:hover span{
  opacity: 1;
  /*放大为1.1倍*/
  -webkit-transform:scale(1.1); 
     -moz-transform:scale(1.1);  
          transform:scale(1.1);  
}

.panel_content{
  /*不随着上方箭头height的变化改变位置*/
  display: none;
  position: absolute; top:20px;
}
.panel_content span{
  float: left;
}
.photo{
  position: relative;
  left: 43%;
}
.photo div{
  overflow: hidden;
  width: 130px;
  height: 130px;
  border: 4px solid #ffffff;
  
  -webkit-border-radius: 100px;
     -moz-border-radius: 100px;
          border-radius: 100px;

  -webkit-box-shadow: 4px 4px 10px #888484;
     -moz-box-shadow: 4px 4px 10px #888484;
          box-shadow: 4px 4px 10px #888484;
}
.photo img{
  width: 100%;
}
.description{
  width: 500px;
  position: relative;
  left: 50%;
} 
.description h2{
  font: 31px/45px "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
}
.description .glyphicon{
  font-size: 22px;
  padding: 3px 9px 0 0;
  color: #613414;
}
.description h3{
  color: #613414;
  font: 21px/30px "黑体","宋体",sans-serif;
  opacity: 0.85;
/*  -webkit-text-shadow: 2px 2px 10px #888484;
     -moz-text-shadow: 2px 2px 10px #888484;
          text-shadow: 2px 2px 10px #888484;*/
}

#main_div{
  position: relative;
  /*margin-top: 100px;*/
  padding: 20px 0px 0 20px;
  z-index: 0;
  background-color: #ffffff;
}

/*正文文章*/
#articles>div{
  /*文章区域下边距*/
  padding-bottom: 60px;
}
/*左边栏便利贴*/
.tag{
  margin-top: 18px;
  text-align: center;
}
.tag_content{
  padding-left: 9%;
  width: 80%;
  text-align: center;
}
.tag_content img{
  width: 100%;
}
.tag_content h1{
  font-family: "Reenie_Beanie" ;
  font-size: 41px;
  margin-top: -73%;
}
.tag_content h2{
  font-family: "Reenie_Beanie" ;
  font-size: 60px;
  margin-top:-24px;
}
@font-face {
  font-family: 'Reenie_Beanie';
  src: url('../fonts/Reenie Beanie-webfont.eot');
  src: url('../fonts/Reenie Beanie-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Reenie Beanie-webfont.woff') format('woff'),
       url('../fonts/Reenie Beanie.ttf') format('truetype'),
       url('../fonts/Reenie Beanie-webfont.svg#Reenie_Beanie') format('svg');
  font-weight: bold;
  font-style: normal;
}
/*便签旋转动画效果*/
.tag:hover{
  -webkit-animation: tags .5s linear;
  -moz-animation: tags .5s linear;
  animation: tags .5s linear;
}
@-webkit-keyframes tags{
  /*20%{-webkit-transform:scale(1.2);}*/
  25%{-webkit-transform:rotate(-10deg);}  
  75%{-webkit-transform:rotate(10deg);}  
  100%{-webkit-transform:rotate(0deg);}  
  /*100%{-webkit-transform:scale(0.8);}*/
}
@-moz-keyframes tags{
  25%{-moz-transform:rotate(-10deg);}  
  75%{-moz-transform:rotate(10deg);}  
  100%{-moz-transform:rotate(0deg);}  
}
@keyframes tags{
  25%{transform:rotate(-10deg);}  
  75%{transform:rotate(10deg);}  
  100%{transform:rotate(0deg);}  
}

/*文章题下标签*/
.article_label{
  margin: 30px 0 10px 0;
}
.article_label span{
  width: 40px;
  height: 20px;
  padding: 4px 13px 4px 13px;
  margin: 0 5px 0 5px;
  color: #3720BC;
  background-color: #E0DFE5;

  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;

  /*鼠标指到时渐变色*/
  -webkit-transition: color 0.7s;
  -moz-transition: color 0.7s;
  transition: color 0.7s;
}
.article_label span:hover{
  color: #18171B;
}
/*文章正文内容*/
/*.body_text{
  font:18px/30px "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
  white-space: pre-wrap;
}
*/
/*文章间分隔线*/
.divided_line{
/*  height: 1px;*/
  /*background-color: #C5C4C4;*/
  border-top: 2px solid #DCD6D6;
  margin-bottom: 30px;
}

/*右侧目录*/
#catalogue_father{
  padding: 0;
}

#catalogue{
  position: relative;
  top: 0px;
  left: 0px;
}
/*返回顶部*/
#catalogue h3{
  margin: 17px 0 0 15px;
  font:25px "Arial","Microsoft YaHei","黑体","宋体",sans-serif;
  opacity: 0.7;
  color: #69258B;
  cursor: pointer;
}
#catalogue h4{
  margin:0 0 -5px 15px;
  font:italic 20px "黑体","Microsoft YaHei","宋体",sans-serif;
  opacity: 0.85;
  color: #652784;
  cursor: pointer;
}
#catalogue h3:hover{
  opacity: 1;
  color: #652784;
}
#catalogue h4:hover{
  opacity: 1;
  color: #652784;
}
#catalogue h3:hover:after{
  content: " <";
  color: #652784;
  font:24px "黑体","Microsoft YaHei","宋体",sans-serif;
}
#catalogue h4:hover:after{
  content: " <";
  color: #652784;
  font:20px "黑体","Microsoft YaHei","宋体",sans-serif;
}
.active_catalogue{
  font-size: 15px/30px;
  color: #000000;
}


/*自适应调整*/
body{
  min-width: 650px;
}
#top_pic img{
  min-width: 500px;
}
/*便利贴字体大小*/
@media screen and (max-width: 1050px){
  .tag_content h1{
    font-size: 35px;  
    margin-top: -88%;
  }
  .tag_content h2{
    font-size: 55px;  
    margin-top: -20px;
  }
  #top_pic h1{
    font-size: 35px;
  }
  #top_pic h2{
    font-size: 80px;
  }
}
/*隐藏右目录*/
@media screen and (max-width: 850px){
  #catalogue_father{
    display: none;
  }
  #articles{
    width: 100%;
  }
  #top_pic h1{
    font-size: 30px;
  }
  #top_pic h2{
    font-size: 60px;
  }
}


@media screen and (max-width: 650px){
  #articles .tag{
    display: none;
  }
  #articles .col-lg-9{
    width: 100%;
  }
  #top_pic h1{
    font-size: 20px;
  }
  #top_pic h2{
    font-size: 45px;
  }
}

